body{
  position: 0px;
  margin: 0px;
  background-color: #f0ebe5
}
h2{
font-family:'Anton', sans-serif;
color: #ead0d1;
}

h1{
font-family:'Anton', sans-serif;
color: #ead0d1;
}

p{
  font-family: helvetica;
  color: #ead0d1;
  margin-bottom: 70px;
}

#Hearts{
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 30vw;
  width:100vw
}

#Hearts img{
  width: 100vw;
  position: relative;
  bottom: 300px;
}

#Hearts h1{
  z-index: 1;
  position: relative;
  font-size: 5vw;
  top: 30vh;
  margin: 0 0 0 7vw;
}

#one, #B{
margin-left: 7vw;
margin-right: 3vw;
margin-top: 7vw;
}

button{
  background-color: #eee5f8;
  font-family:'Anton', sans-serif;
  font-size: 30px;
  color: white;
  margin: 10px;
  padding: 7px 20px;
}

button:active{
  background-color:#f09c5a;
}

button:hover{
  background-color:#7a7281;
}
