body{
  background-color: #dde6d5
}


.download-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 23px 56px;
  width: 1280px;
}

.download-page .flex-row {
  align-items: center;
  align-self: flex-start;
  display: flex;
  min-width: 1130px;
}

.download-page .tlife-logo {
  cursor: pointer;
  height: 86px;
  object-fit: cover;
  width: 107px;
}

.download-page .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 733px;
  margin-top: 28.0px;
  min-height: 18px;
  min-width: 34px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.download-page .place:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.download-page .about {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 12px;
  margin-left: 34px;
  margin-top: 30.0px;
  min-height: 18px;
  min-width: 35px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.download-page .about:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.download-page .log-in-button {
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 40px;
  margin-top: 24.28px;
  width: 148px;
}

.download-page .group-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 147.76px;
}

.download-page .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-6-1-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 36px;
  margin-bottom: -11.5px;
  min-width: 157px;
  padding: 6px 15.8px;
}

.download-page .this-is-a-button {
  color: var(--white);
  font-family: var(--font-family-heititc-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 12px;
  min-height: 14px;
  white-space: nowrap;
}

.download-page .rectangle-9 {
  height: 359px;
  margin-top: 74px;
  width: 638px;
}

.download-page .try-our-app-here {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 3.0px;
  margin-top: 32px;
  min-height: 55px;
  min-width: 327px;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.download-page .try-our-app-here:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.download-page .download {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2.0px;
  margin-top: 8px;
  min-height: 28px;
  min-width: 96px;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.download-page .download:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.download-page .t-life-herbal-tea-delivery {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: 20px;
  font-weight: 400;
  height: 35px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 70px;
  width: 272px;
}
