@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
@font-face {
  font-family: "HeitiTC-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AdobeHeitiStd-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold-Font.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Helvetica Light.ttf") format("truetype");
}
@font-face {
  font-family: "HeitiTC-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GoogleSans-Regular_0.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
