:root { 
  --black: #000000;
  --old-copper: #714c3a;
  --pumice: #c9c9c9;
  --white: #ffffff;
 
  --font-size-l: 12px;
  --font-size-m: 11px;
  --font-size-s: 5px;
  --font-size-xl: 14px;
  --font-size-xxl: 22px;
  --font-size-xxxl: 25px;
  --font-size-xxxxl: 50px;
 
  --font-family-heititc-light: "HeitiTC-Light", Helvetica;
  --font-family-heititc-medium: "HeitiTC-Medium", Helvetica;
  --font-family-helvetica: "Helvetica", Helvetica;
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-helvetica-light: "Helvetica-Light", Helvetica;
  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-black-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.helveticaneue-regular-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-helveticaneue-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
