#second{
  font-weight: bold;
}

.gray{
    color: rgb(100,100,100)
}
#dotted{
  border: dotted rgb(225,225,0) 2px;
}
#solid{
  border: solid rgb(225,225,0) 2px;
}

#two{
  font-family: 'Stick No Bills', sans-serif;
  border: solid black 1px;
  background-color: #7c7c74;
  padding: 10px 5px 30px 5px;


}
