
  #Myname{
    font-size: 50px;
    background-color: #d97e4a;
    color: #f2ede4;
    text-align: center;
    border-width: 5px;
    border-style: ridge;
    border-radius: 10px;
    border: solid #f2be7e 2px;
    font-family: "Pacifico", cursive;
  }
  #own{
    font-weight: bolder;
    color: #bf481f;
    padding-left: 20px;
  }

  #p{
    text-decoration: underline;
    color: #bf481f;
    padding-left: 20px;
  }

  #body{
    background-color:#f2ede4;
    font-family: 'Poppins', sans-serif;
  }

  #solid1{
    border: solid 3px;
    color: #f2be7e;
    margin-top: -20px;
  }
  #solid2{
      border: solid 3px;
      color: #d97e4a;
  }
  #solid3{
        border: solid 3px;
        color: #bf491f;
}

  ul{
    font-weight: 500;
    background-color: #d97e4a;
    padding-left: 60px;
    color: #f2ede4;
  }

  ol{
    color: #bf481f;
    padding-left: 60px;
  }

  div{
    display: flex;
    justify-content: center;
  }
  img{
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
  }

#m1, #m2, #m3{
  color: #f2be7e;
  padding-left: 20px;
  font-size: 30px;
}

#xiaozhan{
  color: #bf481f;
  padding-left: 20px;
}
